<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMART FLEET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body ng-app="smart-fleet">
    @*@RenderPage("_menu.cshtml")*@

    @RenderBody()

    <link href="~/Scripts/leafjs/leaflet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-notifications.min.css" rel="stylesheet" />
    <link href="~/Content/skywalk-docs.min.css" rel="stylesheet" />
<link href="~/Content/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jq-layout.js"></script>
    <script src="~/Scripts/leafjs/leaflet-providers.js"></script>

   
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('body').layout({
                applyDemoStyles: true,
                onresize: function () {
                }
            });


            // initialize the map


        });
    </script>
</body>
</html>
