@model IEnumerable<SmartFleet.Core.Domain.Gpsdevices.Box>

<div class="box" style="width: 97%; padding:10px">
    <h3>Liste des boitiers</h3>

    <p>

        <div class="col-md-12">
            <div class="panel panel-default" style="margin-top: 5px">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default" id="dicValueCreate">
                            <span class="fa fa-plus" aria-hidden="true"></span> Nouveau client
                        </button>

                    </li>
                </ul>
            </div>
            <input type="hidden" id="dicID" value="0" />
            <table id="dicTable" class="table table-bordered table-striped w100f" cellspacing="0"></table>
        </div>
    </p>
    <table id="box-list" class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imei)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.VehicleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastGpsInfoTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastGpsInfoTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function() {
        $('#box-list').DataTable();
    })
</script>